.about-project {
  margin: 110px 70px;
}

.about-project__title {
  margin: 0 0 70px 0;
  padding: 0 0 23px 0;
  font-size: 22px;
  font-weight: 400;
  line-height: 26.63px;
  border-bottom: 1px solid #000;
}

.about-project__stages {
  display: flex;
  gap: 40px;

}

.about-project__subtitle {
  font-size: 20px;
  font-weight: 400;
  line-height: 24.2px;
  margin: 0;
}
.about-project__text {
  margin: 26px 0 0 0;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
}

.about-project__columns {
  display: flex;
  width: 100%;
}

.about-project__backend {
  display: flex;
  flex-basis: 228px;
  flex-direction: column;
}

.about-project__times {
  font-size: 14px;
  font-weight: 400;
  line-height: 16.94px;
  text-align: center;
  margin: 110px 0 0 0;
}

.about-project__back {
  background-color: #000;
  color: #fff;
  border-radius: 4px;
  padding: 9px 14px;
}

.about-project__times-label {
  margin: 14px 0 0 0;
  font-size: 14px;
  font-weight: 500;
  line-height: 17px;
  text-align: center;
  color: #A0A0A0;
}

.about-project__frontend {
  display: flex;
  flex-basis: 912px;
  flex-direction: column;
}

.about-project__front {
  background-color: #F2F2F2;
  border-radius: 4px;
  padding: 9px 14px;
}

@media (max-width: 768px) {

  .about-project {
    margin: 90px 50px;
  }

  .about-project__stages {
    gap: 30px;
  }

  .about-project__text {
    margin: 22px 0 0 0;
    font-size: 12px;
    line-height: 18px;
  }

  .about-project__columns {
    display: flex;
    width: 100%;
  }

  .about-project__backend {
    flex-basis: 140px;
  }

  .about-project__times {
    margin: 93px 0 0 0;
  }

  .about-project__back {
    padding: 9px 11px;
  }

  .about-project__times-label {
    font-weight: 400;
  }

  .about-project__frontend {
    flex-basis: 528px;
  }

  .about-project__front {
    padding: 9px auto;
  }

}

@media (max-width: 550px) {

  .about-project {
    margin: 70px 18px;
  }

  .about-project__title {
    margin: 0 0 60px 0;
    padding: 0 0 28px 0;
    font-size: 18px;
    font-weight: 400;
    line-height: 21.78px;
  }

  .about-project__stages {
    gap: 56px;
    flex-direction: column;
  }

  .about-project__subtitle {
    font-size: 18px;
    line-height: 21.78px;
  }

  .about-project__text {
    margin: 16px 0 0 0;
    font-size: 11px;
    line-height: 16px;
  }

  .about-project__backend {
    flex-basis: 100px;
  }

  .about-project__times {
    font-size: 11px;
    margin: 71px 0 0 0;
    font-weight: 400;
    line-height: 13px;
  }

  .about-project__back {
    border-radius: 0;
    padding: 9px 10px;
  }

  .about-project__times-label {
    margin: 10px 0 0 0;
    font-size: 11px;
    font-weight: 400;
    line-height: 12.74px;
  }

  .about-project__frontend {
    flex-basis: 350px;
  }

  .about-project__front {
    border-radius: 0;
    padding: 9px 11px;
    font-size: 11px;
    font-weight: 400;
    line-height: 13px;
  }

}

@media (max-width: 360px) {

  .about-project__frontend {
    flex-basis: 184px;
  }
}

