.about-me {
  margin: 110px 70px;
  display: grid;
  grid-template-areas:
    'title title'
    'content avatar';
  gap: 66px;
  grid-template-columns: 1fr 270px;
}

.about-me__title {
  grid-area: title;
  margin: 0;
  padding: 0 0 23px 0;
  font-size: 22px;
  font-weight: 400;
  line-height: 26.63px;
  border-bottom: 1px solid #000;
}

.about-me__content {
  grid-area: content;
  max-width: 600px;
}

.about-me__name {
  font-size: 50px;
  font-weight: 400;
  line-height: 58px;
  margin-bottom: 18px;
  margin-top: 0;
}

.about-me__subtitle {
  font-size: 18px;
  font-weight: 500;
  line-height: 20px;
  margin-top: 0;
  margin-bottom: 26px;
}

.about-me__text {
  font-size: 14px;
  font-weight: 400;
  line-height: 22px;
  margin-top: 0;
  margin-bottom: 99px;
}

.about-me__social {
  display: flex;
  list-style: none;
  gap: 20px;
  padding: 0;
  margin: 0;
}

.about-me__social-link {
  text-decoration: none;
  color: #000;
  font-size: 14px;
  font-weight: 500;
  line-height: 16.94px;
}

.about-me__avatar {
  grid-area: avatar;
  object-fit: cover;
  border-radius: 10px;
  max-height: 327px;
  overflow: hidden;
}

.about-me__img {
  width: 100%;
}

@media (max-width: 768px) {

  .about-me {
    margin: 90px 50px;
    column-gap: 49px;
    row-gap: 0;
    grid-template-columns: 1fr 255px;
  }

  .about-me__title {
    margin: 0 0 66px;
  }

  .about-me__content {
    max-width: 364px;
  }

  .about-me__name {
    font-size: 40px;
    line-height: 40px;
    margin-bottom: 16px;
  }

  .about-me__subtitle {
    font-size: 12px;
    line-height: 18px;
    margin-bottom: 20px;
  }

  .about-me__text {
    font-size: 12px;
    line-height: 18px;
    margin-bottom: 87px;
  }

  .about-me__avatar {
    max-height: 307px;
  }
}

@media (max-width: 550px) {
  .about-me {
    margin: 70px 14px;
    grid-template-areas:
      'title'
      'avatar'
      'content';
    grid-template-columns: auto;
  }

  .about-me__title {
    padding: 0 0 28px;
    font-size: 18px;
    line-height: 21.78px;
    margin-bottom: 60px;
  }

  .about-me__content {
    max-width: 292px;
    margin: 0 auto;
  }

  .about-me__name {
    font-size: 30px;
    line-height: 36.31px;
    margin-bottom: 12px;
    margin-top: 40px;
  }

  .about-me__subtitle {
    font-size: 11px;
    line-height: 16px;
  }

  .about-me__text {
    font-size: 11px;
    line-height: 16px;
    margin-bottom: 40px;
  }

  .about-me__social {
    gap: 26px;
  }

  .about-me__avatar {
    height: 352px;
    max-width: 292px;
    margin:  0 auto;
  }

}
